@charset "UTF-8";

/* 가운데영역 */
.container{max-width: 1480px; padding: 0 20px; margin: 0 auto;}

/* 닫기 버튼 */
.closeBtn{position: relative; width: 40px; height: 40px; border: 1px solid #E8EBED; border-radius: 8px; background: url(../images/common/close_icon.svg)no-repeat center 12px;}
.closeBtn::before {content: ''; position: absolute; top: 50%; left: 50%; width: 100%;
    height: 100%;background: radial-gradient(circle,#ADCBFF 0%,rgba(173, 203, 255, 0.4) 40%,rgba(173, 203, 255, 0) 70% ); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;}

    
/* 애니메이션 */
.fadeEffect{animation: fadeEffect 1.5s .3s both;}

@keyframes fadeEffect {

  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}

/* 헤더 */
#headerWrap .headerTopBox{padding: 22px 0; display: flex; align-items: center; justify-content: space-between;}
#headerWrap .headerTopBox .logoBox h1 a,
#headerWrap .headerTopBox .logoBox h1 a img{display: block;}
#headerWrap .headerTopBox .logoBox h1 a .logo{display: flex; align-items: center; gap: 0 16px;}
#headerWrap .headerTopBox .logoBox h1 a .logo .img{overflow: hidden;}
#headerWrap .headerTopBox .logoBox h1 a .logo .img img{position: relative; left: 47px;}
#headerWrap.active .headerTopBox .logoBox h1 a .logo .img img{left: 0; transition: all .7s;}
#headerWrap.active .headerTopBox .logoBox h1 a .logo .text .text01 em{animation: fadeEffect 1.5s .3s both;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(1){animation-delay: .3s;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(2){animation-delay: .35s;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(3){animation-delay: .4s;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(4){animation-delay: .45s;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(5){animation-delay: .5s;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em:nth-child(6){animation-delay: .55s;}
#headerWrap.active .headerTopBox .logoBox h1 a .logo .text .text02{animation: fadeEffect 1.5s .7s both;}
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01{display: block; margin-bottom: 6px; font-size: 32px; color: #1B1D1F; font-weight: 400; font-family: 'Retrosans'; line-height: 1;} 
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text01 em{display: inline-block; }
#headerWrap .headerTopBox .logoBox h1 a .logo .text .text02{display: block; font-size: 7px; color: #9EA4AA; font-weight: 700; line-height: 1; text-transform: uppercase; letter-spacing: 2.4px;}
#headerWrap .headerTopBox .btnBox{display: flex; align-items: center; gap: 0 16px;}
#headerWrap .searchBtnBox{display: flex; align-items: center; justify-content: center; width: 48px; height: 48px; border-radius: 16px; border: 2px solid #C8DCFF;}
#headerWrap .searchBtnBox .searchBtn{width: 32px; height: 32px; border-radius: 8px; background: #89B5FF url(../images/common/search_icon.svg)no-repeat center;}
#headerWrap .headerTopBox .btnBox .authBox{width: 164px; height: 48px; justify-content: center; display: flex; align-items: center; gap: 0 35px; background:linear-gradient(to right, #454C53, #9AAAB9); border-radius: 16px;}
#headerWrap .headerTopBox .btnBox .authBox a{display: block; font-size: 14px; font-weight: 700; color: #fff; text-align: center;}
#headerWrap .headerBottomBox{position: relative;}
#headerWrap .mobileBtn{display: none;}
#headerWrap .mobileBtn,
#headerWrap .sitemapBtn{border: 1px solid #E8EBED; border-radius: 8px; background: url(../images/common/sitemap_icon.svg)no-repeat center;}
#headerWrap .sitemapBtn{width: 40px; height: 40px; position: absolute; top: 50%; left:0; transform: translateY(-50%);}
#headerWrap .headerBottomBox nav{padding-left: 64px;}
#headerWrap .headerBottomBox nav .depth01{display: flex; gap: 0 64px; align-items: center;}
#headerWrap .headerBottomBox nav .depth01 > li{position: relative; }
#headerWrap .headerBottomBox nav .depth01 li h2 a{padding: 20px 0; display: block; font-size: 20px; font-weight: 600; color: #454C53;}
#headerWrap .headerBottomBox nav .depth01 li h2 a span{position: relative; display: inline-block; padding: 5px 16px; transition: all .3s; background-color: #fff;}
#headerWrap .headerBottomBox nav .depth01 li h2 a span::before{opacity: 0; content: '';
    position: absolute; top: -1.6px; left: 0; right:0; bottom: 0; background: linear-gradient(to right, #EDF4FF 0%, #88B4FF 50%, #EDF4FF 100%); border-radius: 16px; z-index: -1; transition: all .3s;}
#headerWrap .headerBottomBox nav .depth01 li h2 a::before{content: ''; position: absolute; left:0; bottom: 0; width: 0; height: 2px; background-color: #4D8FFF; transition: all .3s;}
#headerWrap .headerBottomBox nav .depth01 li:hover h2 a::before{width: 100%;}
#headerWrap .headerBottomBox nav .depth01 li:hover h2 a{font-weight: 700; color: #203C6B;}
#headerWrap .headerBottomBox nav .depth01 li:hover h2 a span{position: relative; width: 100%; box-shadow: 0 0 20px #EDF4FF; border-radius: 16px; text-shadow:0 0 12px  #88B4FF, 0 0 18px #ADCBFF, 0 0 26px #ADCBFF;}
#headerWrap .headerBottomBox nav .depth01 li:hover h2 a span::before{opacity: 1;}

/* 헤더-서브메뉴 */
#headerWrap .subMenuWrap{display: none; padding: 88px 0;; position: fixed; top:180px; left:0; right:0; min-height: 400px; border-top: 1px solid #E8EBED; background: linear-gradient(to right, #FFFFFF 60%, #C8DCFF);}
#headerWrap .subMenuWrap .subMenuBox{display: flex;}
#headerWrap .subMenuWrap .subMenuBox h2{flex-shrink: 0; margin-right: 165px; font-size: 32px; color:#203C6B; font-family: 'Retrosans'; font-weight: 400;}
#headerWrap .subMenuWrap .subMenuBox .depth02{display: flex; flex-wrap: wrap;}
#headerWrap .subMenuWrap .subMenuBox .depth02 li{width: 35%;}
#headerWrap .subMenuWrap .subMenuBox .depth02 li h3 a{display: block; font-size: 32px; font-weight: 600;  background: linear-gradient(90deg, #454C53, #9EA4AA 50%); -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
#headerWrap .subMenuWrap .subMenuBox .imgBox .img{width: 346px; height: 160px; margin-bottom: 16px; border-radius: 8px; overflow: hidden;}
#headerWrap .subMenuWrap .subMenuBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
#headerWrap .subMenuWrap .subMenuBox .imgBox p{color: #454C53; text-align: right; font-family: 'Retrosans';}

/* 헤더-사이트맵 */
#sitemapBox{display: none; padding: 82px 0; position: fixed; top: 0; left:0; right:0; bottom: 0; z-index: 999999;background: linear-gradient(to right, #FFFFFF 60%, #EDF4FF);}
#sitemapBox .container{position: relative;}
#sitemapBox .sitemapTitleBox{margin-bottom: 55px;}
#sitemapBox .sitemapTitleBox h3{font-size: 32px; color: #9EA4AA; font-weight: 400; font-family: 'Retrosans'; letter-spacing:5px;}
#sitemapBox .sitemapDepth01 > li{margin-bottom: 80px; display: flex; gap: 0 104px;}
#sitemapBox .sitemapDepth01 li:last-child{margin-bottom: 0;}
#sitemapBox .sitemapDepth01 li .leftBox h2{margin-bottom: 26px;}
#sitemapBox .sitemapDepth01 li .leftBox h2 a{display: block; font-size: 24px; color: #203C6B; font-family: 'Retrosans'; font-weight: 400;}
#sitemapBox .sitemapDepth01 li .leftBox .imgBox{width: 200px; height: 80px; border-radius: 15px; overflow: hidden;}
#sitemapBox .sitemapDepth01 li .leftBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
#sitemapBox .sitemapDepth02{margin-top: 40px; width: calc(100% - 646px);}
#sitemapBox .sitemapDepth02 > li{border-bottom: 1px solid #E8EBED; }
#sitemapBox .sitemapDepth02 li .depthLayoutBox{display: flex; align-items: center; gap: 10px 87px; }
#sitemapBox .sitemapDepth02 li h3 a{padding: 22px 0; display: block; background: linear-gradient(90deg, #454C53, #9EA4AA); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 20px; font-weight: 500;}
#sitemapBox .sitemapDepth02 li:last-child h3 a{border: 0;}
#sitemapBox .sitemapDepth03{display: flex; gap: 0 8px;}
#sitemapBox .sitemapDepth03 li h4 a{padding: 2px 8px; display: inline-block;  font-weight: 500; color: #454C53; background-color: #E8EBED; border-radius: 10px;}
#sitemapBox aside{position: absolute; top:103px; right:0;}
#sitemapBox .sitemapAuthBox{margin-bottom: 50px; width: 164px; height: 48px; justify-content: center; display: flex; align-items: center; gap: 0 35px; background:linear-gradient(to right, #454C53, #9AAAB9); border-radius: 16px;}
#sitemapBox .sitemapAuthBox a{display: block; font-size: 14px; font-weight: 700; color: #fff; text-align: center;}
#sitemapBox .sitemapInfoBox{margin-bottom: 56px;}
#sitemapBox .sitemapInfoBox .box{margin-bottom: 28px;}
#sitemapBox .sitemapInfoBox .box:last-child{margin-bottom: 0;}
#sitemapBox .sitemapInfoBox .box span{display: block; margin-bottom: 3px; font-size: 14px; color: #000000; font-family: 'Retrosans';}
#sitemapBox .sitemapInfoBox .box p{font-size: 14px; font-weight: 500; color: #454C53;}
#sitemapBox .sitemapsnsBox{display: flex; gap: 0 8px;}
#sitemapBox .sitemapsnsBox a{display: block; transition: all .3s;}
#sitemapBox .sitemapsnsBox a:hover{transform: translateY(-6px);}
#sitemapBox .sitemapTitleBox{display: flex; align-items: center; gap: 0 46px;}
 
#mobileMenuBox{display: none;}

@media (max-width: 1580px){

  #headerWrap .subMenuWrap .subMenuBox h2{margin-right: 100px;}
  #headerWrap .subMenuWrap .subMenuBox .depth02 li{width: 40%;}

}

@media (max-width: 1199px){

  #headerWrap .sitemapBtn,
  #headerWrap .headerTopBox .btnBox .authBox,
  #headerWrap .headerBottomWrap{display: none;}
  #headerWrap .headerTopBox{padding: 12px 0;}
  #headerWrap .mobileBtn{display: block; width: 48px; height: 48px;}
  #mobileMenuBox{display: flex; flex-direction: column; position: fixed; top:72px; right:-3000px; max-width: 512px; width: 100%; min-height: 756px; background: linear-gradient(to bottom, #FFFFFF 60%, #EDF4FF); border-radius: 0 0 0 50px; overflow: hidden;}
  #mobileMenuBox .mobileAothBox{position: relative; padding-left: 30px; display: flex; align-items: center; gap: 0 26px;  height: 64px;  background: linear-gradient(120deg, #454C53 0%, #9AA9B9 50%, #454C53 100%); background-size: 200% 100%; z-index: 999999; animation: skeletonShimmer 9s infinite linear;}

  @keyframes skeletonShimmer {

  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }

}

  #mobileMenuBox .mobileAothBox .btn{font-size: 14px; font-weight: 700; color: #fff;}
  #mobileMenuBox .mobileDepth01{flex: 1;}
  #mobileMenuBox .mobileDepth01 li h2 a{padding-left: 30px; display: flex; align-items: center; width: 190px; height: 64px; font-size: 20px; color: #9EA4AA; font-weight: 700;}
  #mobileMenuBox .mobileDepth01 li h2 a.active{background: linear-gradient(to right, #EDF4FF, #FFFFFF 20%); color: #203C6B;}
  #mobileMenuBox .mobileDepth02{padding-top: 93px; position: absolute; top:0; right:0; bottom: 0; width: calc(100% - 190px); z-index: 999; border-left: 4px solid #EDF4FF;}
  #mobileMenuBox .mobileDepth02 li h3 a{padding: 8px 20px 8px 22px; display: block; font-weight: 600; background: linear-gradient(90deg, #454C53, #9EA4AA 20%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 16px;}
  #mobileMenuBox .mobileDepth02 li h3 a.active{background: linear-gradient(90deg, #4D8DFB, #454E58 50%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;} 
  #mobileMenuBox .mobileDepth03{display: none; padding: 10px 10px 16px 18px;}
  #mobileMenuBox .mobileDepth03 li{margin-bottom: 8px;}
  #mobileMenuBox .mobileDepth03 li:last-child{margin-bottom: 0;}
  #mobileMenuBox .mobileDepth03 li h4 a{padding: 2px 8px; display: inline-block; font-size: 14px; font-weight: 500; color: #454C53; background-color: #E8EBED; border-radius: 10px;}
  #mobileMenuBox footer{margin-top: auto; padding:10px; color: #9EA4AA; font-size: 12px; font-weight: 700; text-align: center; background-color: #fff; z-index: 99999;}

  #headerWrap .headerTopBox .logoBox h1 a .logo{gap: 0 12px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .text .text01{margin-bottom: 2px; font-size: 28px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .text .text02{font-size: 6px; letter-spacing: 2.2px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .img img{width: 38px;}
   
}

@media (max-width: 767px){

  #headerWrap .headerTopBox .btnBox{gap: 0 8px;} 
  #headerWrap .searchBtnBox{width: 40px; height: 40px; background-color: #88B4FF; border: 0; overflow: hidden;}
  #headerWrap .searchBtnBox .searchBtn{width: 100%; height: 100%; border-radius: 0;}
  #headerWrap .mobileBtn{width: 40px; height: 40px;}

  #mobileMenuBox{top: 64px;}

  #headerWrap .headerTopBox .logoBox h1 a .logo{gap: 0 9px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .text .text01{font-size: 19px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .text .text02{font-size: 4px; letter-spacing: 1.5px;}
  #headerWrap .headerTopBox .logoBox h1 a .logo .img img{width: 27px;}

}

@media (max-width: 480px){

  #mobileMenuBox{max-width: none; min-height: auto; bottom: 0; border-radius: 0;}
  #mobileMenuBox .mobileDepth02{width: calc(100% - 154px);}
  #mobileMenuBox .mobileDepth01 li h2 a{padding:0 20px; width: 154px;}

}

/* 헤더-통합검색 */
#searchContentBox{display: none; padding: 80px 20px; border-top: 1px solid #E8EBED; background: linear-gradient(to right, #FFFFFF 70%, #EDF4FF);}
#searchContentBox .title{margin-bottom: 24px; text-align: center; color: #454C53; font-size: 38px; font-weight: 500;}
#searchContentBox .searchInputBox{position: relative; max-width: 480px; margin:0 auto 36px;}
#searchContentBox .searchInputBox .searchBtn{width: 32px; height: 32px; position: absolute; top: 50%; transform: translateY(-50%); left:16px; background: url(../images/common/search_icon.svg)no-repeat center;}
#searchContentBox .searchInputBox input{display: block; margin: 0 auto; width: 100%; padding: 0 20px 0 56px; height: 64px; border: 2px solid #C8DCFF; border-radius: 16px; font-weight: 600;}
#searchContentBox .searchInputBox input::placeholder{color: #9EA4AA;}
#searchContentBox .sportsList{max-width: 480px; margin: 0 auto; display: flex; flex-wrap: wrap; gap: 12px 34px; justify-content: center;}
#searchContentBox .sportsList li a{display: block; text-align: center;}
#searchContentBox .sportsList li a .iconBox{margin: 0 auto; display: flex; align-items: center; justify-content: center; margin-bottom: 8px; width: 48px; height: 48px; border: 1px solid #E8EBED; border-radius: 16px;}
#searchContentBox .sportsList li a h3{font-weight: 500; color: #454C53; font-size: 14px;}

@media (max-width: 480px){

  #searchContentBox{padding: 64px 20px; background: linear-gradient(to bottom, #FFFFFF 85%, #EDF4FF);}
  #searchContentBox .sportsList{gap: 12px 0;}
  #searchContentBox .sportsList li{width: 33.33%;}
  #searchContentBox .title{margin-bottom: 16px; font-size: 29px;}

}

/* 푸터 */
#footerWrap .footerTopBox{padding: 60px 0; background: linear-gradient(
  to bottom, #FFFFFF,  #E8EBED);}
#footerWrap .footerRightBox{width: 100%; display: flex; justify-content: space-between;}
#footerWrap .layoutBox{position: relative; display: flex;}
#footerWrap .footerLogoBox{margin-right: 119px;}
#footerWrap .footerLogoBox h1{margin-bottom: 40px;}
#footerWrap .footerLogoBox h1 .footerLogoImg01{display: block;}
#footerWrap .footerLogoBox h1 .footerLogoImg02{display: none;}
#footerWrap .footerLogoBox .footerSNSBox{display: flex; align-items: center; justify-content: flex-end; gap: 0 8px;}
#footerWrap .footerLogoBox .footerSNSBox img{display: block;}
#footerWrap .footerInfoBox{padding-top: 29px;}
#footerWrap .footerInfoBox .box{margin-bottom: 32px;}
#footerWrap .footerInfoBox .box:last-child{margin-bottom: 0;}
#footerWrap .footerInfoBox .box span{display: block; font-size: 14px; color: #000; font-family: 'Retrosans';}
#footerWrap .footerInfoBox .box em{display: block; font-weight: 500; color: #454C53;}#footerWrap .footerApplicationBox{display: flex; flex-direction: column; align-items: flex-end; padding-top: 29px;}
#footerWrap .footerApplicationBox .applicationBtn{margin-bottom: 72px; display: flex; align-items: center; justify-content: center; gap: 0 16px; width: 243px; height: 96px; border-radius: 40px; background: linear-gradient(to bottom, #727170, #4F5F7A, #4A82E2); color: #fff; font-weight: 700;}
#footerWrap .footerApplicationBox .applicationBtn::before{content: ''; width: 48px; height: 48px; background: url(../images/common/footer_icon02.svg)no-repeat center; }
#footerWrap .copy{font-size: 12px;color: #9EA4AA; font-weight: 700;}

@media (max-width: 1199px){

  #footerWrap .footerLogoBox{margin-right: 64px;}

}

@media (max-width: 767px){
  
  #footerWrap .footerInfoBox{padding: 0;}
  #footerWrap .footerTopBox{padding: 40px 0;}
  #footerWrap .footerRightBox{flex-direction: column; gap: 64px 0;}
  #footerWrap .footerApplicationBox{padding: 0; align-items: flex-start;}
  #footerWrap .footerApplicationBox .applicationBtn{margin-bottom: 40px;}
  #footerWrap .footerLogoBox h1 img{width: 154px;}
  #footerWrap .footerInfoBox .box span{margin-bottom: 3px;}
  
}

@media (max-width: 576px){

  #footerWrap .footerLogoBox{margin: 0;}
  #footerWrap .layoutBox{flex-direction: column; align-items: center; gap: 64px 0;}
  #footerWrap .footerLogoBox h1 .footerLogoImg01{display: none;}
  #footerWrap .footerLogoBox h1 .footerLogoImg02{display: block;}
  #footerWrap .footerLogoBox .footerSNSBox{justify-content: center;}
  #footerWrap .copy{width: 100%;}

}

@media (max-width: 414px){

  #footerWrap .footerLogoBox h1{margin-bottom: 24px;}
  #footerWrap .footerRightBox,
  #footerWrap .layoutBox{gap: 40px 0;}

}